.completed {
  color: gray;
}

.completed .description {
  text-decoration: line-through;
}

.overdue .description, .overdue .due-date {
  color: red;
}

.delete:hover {
  cursor: pointer;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

label {
  font-weight: bold;
}
