.container {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.completed {
  color: gray;
}

.completed .description {
  text-decoration: line-through;
}

.overdue .description, .overdue .due-date {
  color: red;
  font-weight: bold;
}

th {
  text-align: left;
}
